<suite name="LoginSuite">
    <test name="LoginTests">
        <parameter name="username" value="Username1"/>
        <parameter name="password" value="Pass1"/>
        <classes>
            <class name="test.LoginTests" />
            <class name="test.select_Item" />
        </classes>
    </test>
</suite>